//adjustment variables
$footer-height: rem(420px);
$container-width: rem(1000px);

body, html {
	width: 100%;
	height: 100%;
}

body {
	background: #361C16 url(../img/wrapper-bg.png) repeat;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: rem(13px);
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	color: #333;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	min-width: $container-width;
}

.wrapper:after {
	content: "";
	display: block;
	height: $footer-height;
	overflow: hidden;
}

.container {
	width: $container-width;
	margin: 0 auto;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

footer {
	height: $footer-height;
	width: 100%;
	margin-top: -$footer-height;
	position: relative;
	min-width: $container-width + rem(20px);
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}
p {
	line-height: 1.9;
}